<!DOCTYPE html>
<html>

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
      <link rel="stylesheet" href="/css/styles.css">

      <title>Edit Item</title>

</head>

<body>

      <%- include('../NavbarAdmin') %>

            <div class="main-content">

                  <!-- Search Bar -->
                  <div class="shadowNav" style="  
                                    position: fixed;width: 100%;  
                                    z-index: 2;
                                    background-color: #fcfcfc;
                              height: 5rem;
                                    display: grid;
                                    grid-template-columns: 60% 1fr;
                              align-items: center;
                                    flex-direction: row;
                                    justify-content: left;
                                    padding-right: 4rem;
                              border: 1px solid 1px solid rgb(230 230 230);
                              
                              ">
                        <h6 style="   font-weight: 800;
                                    font-size: 1.5em;
                                    padding-left: 5rem;">Edit Items

                        </h6>


                  </div>



                  <div
                        style="width: 80%;display: flex;flex-direction: row;gap:3rem;justify-content: center;align-items: center;margin: 1rem 7rem; ">

                        <span class="material-symbols-outlined" style="font-size: 4rem;">
                              barcode
                        </span>
                        <form style="padding: 1rem 6rem;width: 100%;margin-top: 5rem;"
                              action="/api/editProducts/<%= Component.componentId %>" method="POST">
                              <br>
                              <label for="componentName">Component Name:</label>
                              <input type="text" id="componentName" name="componentName" class="form-control"
                                    placeholder="Enter Component Name" value="<%= Component.componentName %>">
                              <br>
                              <label for="costPricePerUnit">Cost Price Per Unit:</label>
                              <input type="number" id="costPricePerUnit" name="costPricePerUnit" class="form-control"
                                    placeholder="Enter Cost Price Per Unit" value="<%= Component.costPricePerUnit %>">
                              <br>
                              <label for="sellByDate">Sell By Date:</label>
                              <input class="form-control" type="date" id="sellByDate" name="sellByDate"
                                    value="<%= Component.sellByDate %>">
                              <br>
                              <label for="minThreshold">Minimum Threshold:</label>
                              <input class="form-control" type="number" id="minThreshold" name="minimumThreshold"
                                    required value="<%= Component.minimumThreshold %>"><br>
                              <label for="maxThreshold">Maximum Threshold:</label>
                              <input class="form-control" type="number" id="maxThreshold" name="maximumThreshold"
                                    required value="<%= Component.maximumThreshold %>"><br>
                              <label for="purchasePrice">Purchase Price:</label>
                              <input class="form-control" type="number" id="purchasePrice" name="purchasePrice"
                                    step="0.01" required value="<%= Component.purchasePrice %>"><br>
                              <label for="supplierId">Supplier Id:</label>
                              <input type="text" id="supplierId" name="supplierId" class="form-control"
                                    placeholder="Enter Supplier Id" value="<%= Component.supplierId %>" readonly>
                              <br>
                              <button class="btn" type="submit">
                                    Save
                              </button>
                        </form>


                  </div>

</body>

</html>