<!DOCTYPE html>
<html lang="en">
<!-- Ignore This Styling -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/css/styles.css">

  <title>View Sales</title>
  <style>
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      margin: auto;
      padding: 20px;
      background-color: #fff;
      width: 50%;
    }
  </style>

</head>

<body>

  <%- include('../NavbarEmployee') %>

    <!-- Where all my content is -->
    <div class="main-content">



      <!-- Search Bar -->
      <div class="shadowNav" style="  
      position: fixed;width: 100%;  
      z-index: 2;
      background-color: #fcfcfc;
height: 5rem;
      display: grid;
      grid-template-columns: 60% 1fr;
align-items: center;
      flex-direction: row;
      justify-content: left;
      padding-right: 4rem;
border: 1px solid 1px solid rgb(230 230 230);

">
        <h6 style="   font-weight: 800;
      font-size: 1.5em;
      padding-left: 5rem;">Sales

        </h6>

        <div style="display: flex;width: 100%;justify-content: right;">


          <div style="position: relative; width: 20vw; margin-right: 24rem;">
            <input class="shadowNav" style="text-align: center;
                          font-size: 0.8em;
                          width: 100%;
                          height: 2.3rem;
                          background-color: #ececec;
                          border: 1px #cfcfcf solid;
                          border-radius: 24px;
                          padding-left: 2.5rem;" type="text" placeholder="Search Inventory">
            <i style="position: absolute; 
                      left: 1rem; 
                      top: 0.5rem; 
                      font-size: 0.8em;
                      color: rgb(158, 158, 158);" class="search-icon"><span style="font-size: 1.5em;"
                class="material-symbols-outlined">
                search
              </span></i>
          </div>



        </div>

      </div>
      <div id="myTable" class="container" style="margin-top: 7rem;">
        <div class="table-responsive custom-table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col">
                  <label class="control control--checkbox">
                    <input type="checkbox" class="js-check-all" />
                    <div class="control__indicator"></div>
                  </label>
                </th>
                <th scope="col">Invoice Number</th>
                <!--<th scope="col">Product Number</th>-->
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col">Sale Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% Sales.forEach(function(sale, index) { %>
                <tr scope="row">
                  <th scope="row">
                    <label class="control control--checkbox">
                      <input type="checkbox" />
                      <div class="control__indicator"></div>
                    </label>
                  </th>
                  <td>
                    <%= sale.saleId %>
                  </td>
                  <!--<td>
                    <%= sale.productId %>
                  </td>-->
                  <td>
                    <%= sale.quantity %>
                  </td>
                  <td>
                    <%= sale.totalPrice %>
                  </td>
                  <td>
                    <%= sale.saleDate %>
                  </td>
                  <td>
                    <button class="btn" style="background-color: transparent;color: black;"
                      onclick="yourActionFunction(<%= sale.saleId %>)">
                      <span class="material-symbols-outlined">check</span>
                    </button>
                  </td>
                </tr>
                <tr class="spacer">
                  <td colspan="100"></td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>





    </div>





    <script>
      function toggleDetails(index) {
        const detailsRow = document.getElementById(`details-${index}`);
        if (detailsRow.style.display === 'none') {
          detailsRow.style.display = 'table-row';
        } else {
          detailsRow.style.display = 'none';
        }
      }

      async function confirmOrder(orderId) {
        try {
          const response = await fetch('/confirmOrder', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ orderId }),
          });

          const data = await response.json();

          if (response.ok) {
            alert(data.message);
          } else {
            alert(`Failed to confirm order: ${data.message}`);
          }
        } catch (error) {
          alert(`Failed to confirm order: ${error.message}`);
        }
      }


    </script>



</body>

</html>