<!DOCTYPE html>
<html lang="en">
<!-- Ignore This Styling -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <title>Home Page</title>

  <style>
    .custom-table-responsive {
      margin: 0;
      background-color: white !important;
      padding: 20px;
      border-radius: 15px;
    }
  </style>


</head>

<body>



  <%- include('NavbarAdmin') %>




    <!-- Where all my content is -->
    <div class="main-content">

      <!-- Top navbar -->

      <div class="shadowNav" style="    
      z-index: 2;
      background-color: #fcfcfc;
      display: grid;
      top: 0;
      height: 8rem;
      grid-template-columns: 60% 40%;
align-items: center;
      flex-direction: row;
      position: fixed;
      width: 100%;
      justify-content: left;
border: 1px solid 1px solid rgb(230 230 230);

">
        <h6 style="   font-weight: 800;
      font-size: 1.5em;
      padding-left: 5rem;">Home

        </h6>

        <div style="display: flex;width: 100%;justify-content: right;">


          <div style="position: relative; width: 20vw; margin-right: 24rem;">
            <input class="shadowNav" style="text-align: center;
                          font-size: 0.8em;
                          width: 100%;
                          height: 2.3rem;
                          background-color: #ececec;
                          border: 1px #cfcfcf solid;
                          border-radius: 24px;
                          padding-left: 2.5rem;" type="text" placeholder="Search Inventory">
            <i style="position: absolute; 
                      left: 1rem; 
                      top: 0.5rem; 
                      font-size: 0.8em;
                      color: rgb(158, 158, 158);" class="search-icon"><span style="font-size: 1.5em;"
                class="material-symbols-outlined">
                search
              </span></i>
          </div>



        </div>

      </div>

      <!-- Content -->
      <div
        style="padding-left: 2rem;background-color: transparent;border-radius: 1rem;margin-top: 10rem;padding-left: 4rem;">

        <!-- Division Holding Content -->
        <div style="display: flex;justify-content: center;flex-direction: column;">

          <h1 class="headerPageTwo" style="font-size: 1.5rem;font-weight: bold;">Store Statistics</h1>
          <!-- Tabs that speak about profit, how much is needed to break even, total sales, Best days, Best product -->
          <div class=""
            style="border-radius: 2px;padding-bottom: 2rem;margin-top: 3rem; margin-bottom: 2rem ;margin-left: rem;display: flex;flex-direction: row;gap: 1rem;">

            <!-- Whats My Current Profit -->
            <div style="background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
                        border: 1px solid rgb(216, 216, 216);
                        width: 300px;
                        border-radius: 15px;
                        height: 200px;
                        display: grid;
                        grid-template-rows: 33% 33% 33%;
                        padding-top: 1rem;
                        padding-left: 2rem;
                        align-items: left;
                        ">
              <span style="color: white;" class="material-symbols-outlined">
                savings
              </span>
              <H3 style="color: white;font-size: 1.5rem;">Potential Profit Today</H3>
              <h4 style="color: white;">
                R1500.00
              </h4>
            </div>

            <!-- Whats My Current Profit -->
            <div style="background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
            border: 1px solid rgb(216, 216, 216);
            width: 300px;
            border-radius: 15px;
            height: 200px;
            display: grid;
            grid-template-rows: 33% 33% 33%;
            padding-top: 1rem;
            justify-content: center;
            align-items: left;
            ">
              <span style="color: white;" class="material-symbols-outlined">
                savings
              </span>
              <H3 style="color: white;font-size: 1.5rem;">Current Profit</H3>
              <h4 style="color: white;">
                R1600
              </h4>
            </div>
            <!-- Whats My Current Profit -->
            <div style="background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
            border: 1px solid rgb(216, 216, 216);
            width: 300px;
            border-radius: 15px;
            height: 200px;
            display: grid;
            grid-template-rows: 33% 33% 33%;
            padding-top: 1rem;
            justify-content: center;
            align-items: left;
            ">
              <span style="color: white;" class="material-symbols-outlined">
                savings
              </span>
              <H3 style="color: white;font-size: 1.5rem;">Total Sales Revenue</H3>
              <h4 style="color: white;">
                R2000
              </h4>
            </div>

          </div>

          <!-- tables with information -->

          <div
            style="background-color: white;border-radius: 15px;width: 90%;border:  1px solid rgb(216, 216, 216);margin-bottom: 1REM;">

            <div style="padding: 1rem;padding-left: 5rem;padding-top: 2rem;">
              <h3 style="font-weight: bold;font-size: 1.5rem;">Products that are running Low
              </h3>
              <h5 style="font-size: 1rem;font-weight: 400;margin-top: 20px;">It Is recommended you reorder them to avoid
                a shortage</h5>
            </div>



            <hr>

            <!-- What Components are runnig low -->
            <div id="reorderTable" class="container" style="width: fit-content;padding-left: 0;margin-left: 3.4rem;">
              <div class="table-responsive custom-table-responsive" style=" background-color: white;">
                <table class="table custom-table" style="width: fit-content;margin: 0;">
                  <thead>
                    <tr>
                      <!-- <th scope=" col">Product ID</th>-->
                      <th scope="col">Product Name</th>
                      <th scope="col">Units in Inventory</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% ProductsRunningLow.forEach(component=> { %>
                      <tr scope="row">
                        <td>
                          <%= component.productName %>
                        </td>

                        <td>
                          <%= component.unitsInInventory %>
                        </td>
                        <td>
                          <!-- Add your action buttons or links here -->
                          <button class="btn" id="reorderButton">Re Order</button>
                        </td>
                      </tr>
                      <tr class="spacer">
                        <td colspan="100"></td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>




          </div>

          <div
            style="background-color: white;border-radius: 15px;width: 90%;border:  1px solid rgb(216, 216, 216);margin-bottom: 1REM;">

            <div style="padding: 1rem;padding-left: 5rem;padding-top: 2rem;">
              <h3 style="font-weight: bold;font-size: 1.5rem;">Stock Needed For The day
              </h3>
              <h5 style="font-size: 1rem;font-weight: 400;margin-top: 20px;">A List of the Products and Items needed for
                the day and their levels</h5>
            </div>



            <hr>

            <!-- What Components are runnig low -->
            <div id="reorderTable" class="container" style="margin-left:2.5rem;width: fit-content;">
              <div class=" table-responsive custom-table-responsive" style=" background-color: white;">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <!-- <th scope=" col">Product ID</th>-->
                      <th scope="col">Item Name</th>
                      <th scope="col">Units in Inventory</th>
                      <th scope="col">Potential Loss</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% ItemsRunningLow.forEach(component=> { %>
                      <tr scope="row">
                        <td>
                          <%= component.itemName %>
                        </td>
                        <td>
                          <%= component.unitsInInventory %>
                        </td>

                        <td></td>
                        <td>
                          <!-- Add your action buttons or links here -->
                          <button class="btn" id="reorderButton">Re Order</button>
                        </td>
                      </tr>
                      <tr class="spacer">
                        <td colspan="100"></td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>




          </div>





        </div>

      </div>



    </div>

    <script>


      document.addEventListener("DOMContentLoaded", function () {
        // Get the reorder button by its id
        const reorderButton = document.getElementById("reorderButton");

        // Add a click event listener to the button
        reorderButton.addEventListener("click", function () {
          // Navigate to the "/ViewOrders" route
          window.location.href = "/Orders";
        });
      });



    </script>
</body>

</html>